* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: hsl(185, 75%, 39%);
    color: hsl(225, 100% 2%);
    animation: start .4s ease-in-out;
}

/* @keyframes start {
    0%{
        transform: scale(.9)
    }

    100%{
        transform: scale(1);
    }
} */

/* Styling the background circles */
#toppattern {
    background-image: url(/images/bg-pattern-top.svg);
    width: 100%;
    background-repeat: no-repeat;
    min-height: 50vh;
    rotate: 180deg;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
    background-size: cover;
}
#bottompattern {
    background-image: url(/images/bg-pattern-top.svg);
    width: 100%;
    background-repeat: no-repeat;
    min-height: 50vh;
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .4;
    background-size: cover;
}

h2 {
    font-size: x-large;
}

#theme {
    text-align: right;
    margin-right: 20px;
}

/* Icon At The Top */
#icon {
    position: relative;
    top: 0;
    right: 0;
    width: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: hsl(228, 11%, 18%);
}

#container {
    margin: 20px auto;
    min-height: 90vh;
}

main {
    border-radius: 20px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    margin: 20px auto 50px;
    background-color: hsl(230, 37%, 97%);
}

main:hover {
    cursor: pointer;
    box-shadow: 0 0 50px hsl(0, 0%, 59%);
}

#patterncard {
    background-image: url(images/bg-pattern-card.svg);
    width: 100%;
    min-height: 140px;
    border-radius: 20px 20px 0 0;
}

#image {
    position: relative;
    text-align: center;
    margin-bottom: -35px;
}

.profile-img {
    border-radius: 50%;
    position: relative;
    top: -50px;
    padding: 0;
    border: 3px solid #fff;
}

#detail {
    margin: 1.5em;
}

#special {
    display: flex;
    flex-direction: row;
    border-top: 2px solid hsl(0, 0%, 59%);
    padding: 1.1rem;
    justify-content: space-evenly;
}


#grey-text {
    color: hsl(0, 0%, 59%);
    font-size: smaller;
    font-weight: lighter;
    transition: all .4s;
}

#grey-text:hover {
    color: hsl(185, 75%, 39%);
}

span {
    font-size: smaller;
    font-weight: lighter;
}