* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #f5f1f1;

}

.sec {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: hsl(195, 17%, 95%);
    font-family: sans-serif;
    color: hsl(229, 23%, 23%);
}

.container {
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 700px;
    background-color: #ffffff;
    border-radius: 10px;
}

.first {
    width: 250px;
    margin: 30px;
    background-color: #db6e14;
    border-radius: 10px;

}

.imgcontainer {
    width: 100%;
    height: 50vh;
    background-image: url(newimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 10px 10px 150px 150px;
}

h1 {
    color: #ffffff;
    padding-top: 40px;
    font-size: medium;
    font-weight: 400px;
}

.mainimg {
    width: 100%;
    min-height: 50vh;
}

/* Second Part of the first container */
.signcontainer {
    width: 100%;
    height: 146px;
    display: flex;
    flex-direction: row;
}

.second {
    width: 350px;
    margin: 30px;
}

.signfirst {
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    font-size: 25px;
    padding-right: 5px;
}

.line {
    width: 3px;
    height: 100%;
    background-color: #ffffff;
}

.signsec {
    color: #ffffff;
    font-size: 25px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: black;
}


/* Second Container for the form */