* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
}

#main-sec {
    width: 270px;
    height: auto;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 100px auto;
}

#container {
    width: 270px;
    height: auto;
}

#img {
    width: 250px;
    border-radius: 15px;
    margin: 10px;
    padding: 3px;
    /* height: auto; */
}

/* Txt style */
#main-txt {
    margin: 20px;
    opacity: .8;
    font-weight: 700;
    font-size: 1.2em;
}

#aux-txt {
    margin: auto 30px;
    padding-bottom: 10px;
    opacity: .6;
    font-weight: 400;
}