* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Lexend Deca';
}

body {
    background-color: hsla(0, 0%, 100%, 0.75);
}

main {
    width: 600px;
    height: 200px;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
}

/* @media screen and (max-width: 620px) {
    #container {
        display: flex;
        flex-direction: column;
    }
} */


#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.first, .second, .third {
    min-width: 100px;
    height: 32em;
    padding: 20px;
    margin: 0 auto;
}

.first {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.second {
    background-color: hsl(184, 100%, 22%);
}

.third {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

h1 {
    font-weight: 700;
    font-family: "Lexend Deca";
    font-size: 1em;
    margin-bottom: 5em;
}

.f-img, .s-img, .t-img {
    margin-left: -2px;
    margin-top: 1em;
    margin-bottom: 3em;
}

p {
    opacity: .5;
    font-weight: 400;
    font-size: .9em;
}

.dep {
    margin-top: 6em;
}

a {
    border: #ffffff solid 1px;
    border-radius: 1em;
    text-decoration: none;
    padding: .8em;
}

a:hover {
    background-color: #ffffff;
    color: hsl(31, 77%, 52%);
}