@import url('https://fonts.googleapis.com/css2?family=karla:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    Font-size: 16px;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: hsl(204, 43%, 93%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 38.5em;
    height: 30em;
    margin: 0 auto;
}

section {
    width: 100%;
    height: 30em;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#up {
    width: 100%;
    height: 50%;
    padding: 2em;
    background-color: #ffffff;
    border-radius: 7px 7px 0 0;
}

h1 {
    color: hsl(179, 62%, 43%);
    padding-top: 2em;
    padding-bottom: 2em;
    font-weight: 700;
}

h2 {
    color: hsl(71, 73%, 54%);
    padding-bottom: 2em;
    font-size: .8em;
    opacity: .8;
    word-spacing: 1px;
}

.top-para {
    opacity: .3;
    padding-bottom: .2em;
}

.top-par {
    opacity: .3;
}

/* Down Part of the Container */
#down {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.back {
    width: 50%;
    background-color: hsl(179, 62%, 43%);
    opacity: .8;
    border-radius: 0 0 0 7px;
}

.front {
    width: 50%;
    background-color: hsl(179, 62%, 43%);
    opacity: .6;
    border-radius: 0 0 7px 0;
}

#first {
    padding: 2em 0 0 2em;
    height: 100%;
}

#second {
    width: 50%;
    height: 100%;
}

h3 {
    letter-spacing: 1.5px;
    padding-bottom: 1em;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
}

.down-para {
    color: #ffffff;
    font-size: 2em;
    padding-bottom: 2px;
}

.down-para span {
    opacity: .5;
}

.para {
    color: #ffffff;
    font-weight: 400;
    letter-spacing: .1px;
    padding-top: .5em;
    opacity: .8;
}

.sign {
    display: inline-block;
    margin-top: 2em;
    padding: 1em;
    background-color: hsl(71, 73%, 54%);
    border-radius: 8px;
    width: 15em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* Second Down Part */
#second {
    width: 100%;
    padding: 2em;
    color: #ffffff;
}

.dove {
    padding-bottom: 1em;
    font-weight: 700;
}

nav ul {
    list-style: none;
}

li {
    font-size: .8em;
    padding-bottom: 7px;
    opacity: .6;
}

/* Media Query */
@media screen and (max-width: 620px) {
    body {
        overflow-x: hidden;
    }

    main {
        width: 20em;
        height: auto;
        margin: 0 auto;
    }

    section {
        width: 100%;
    }
    
    #container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    #down {
        flex-direction: column;
    }

    .back {
        width: 320px;
        border-radius: 0;
        padding-bottom: 1.5em;
    }

    .front {
        width: 320px;
        border-radius: 0 0 7px 7px;
    }

    .top-para {
        word-spacing: 2px;
    }

    .top-par {
        word-spacing: 2px;
    }
}