* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
}

body {
    font-family: "Inter", sans-serif;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    color: #ffffff;
}

main {
    min-width: 600px;
    z-index: 1;
    display: flex;
    margin: 18vh 1em 1em 1em;
}

section {
    display: flex;
    flex-direction: column;
    padding: 5em;
    width: 570px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0.7em 0 0 0.7em;
}

section h1 {
    color: #ffffff;
    font-size: 2.25em;
    margin-bottom: 0.75em;
    font-weight: 700;
}

section h1 span {
    color: hsl(277, 64%, 61%);
    font-size: 1em;
}

section #content {
    margin-right: 2em;
}

section #lead {
    color: #ffffff;
    line-height: 1.5em;
    margin-bottom: 5em;
    opacity: .5;
}

section ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    letter-spacing: 1px;
}

section ul h2 {
    color: #ffffff;
    font-weight: 700;
}

section ul p {
    font-family: "Lexend Deca", sans-serif;
    opacity: .5;
    font-size: 0.75em;
}

/* Image Part */
.bg-img {
    width: 540px;
    background: url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
}

.overlay {
    background: hsl(277deg, 100%, 50%, 0.42);
    height: 100%;
}

.overlay-2 {
    background: hsl(293deg, 42%, 35%, 0.24);
    height: 100%;
    mix-blend-mode: color-burn;
}

/* Footer */
.attribution {
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .attribution a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  .attribution a:hover {
    color: #ffffff;
  }

  /* Media Query for 934px Width */
  @media only screen and (max-width: 767px) {
    main {
      margin-top: 10vh;
  }
  }

  @media only screen and (max-width: 689px) {
    main {
      margin-top: 1.8em;
  }
  }

  /* Media query for 667px */
  @media only screen and (max-width: 667px) {
    body {
      flex-direction: column;
    }
    main {
      flex-direction: column-reverse;
      margin: 10px;
      min-width: 200px;
      margin-top: 5em;
    }
    section {
      padding: 0;
      padding: 3em;
      width: 300px;
      border-radius: 0 0 10px 10px;
    }
    section h1,
    section .lead {
      text-align: center;
    }
    section .lead {
      font-size: 1.1rem;
      margin-bottom: 2em;
      line-height: 1.75em;
    }
    section .content {
      margin-right: 0;
    }
    section ul {
      flex-direction: column;
      align-items: center;
    }
    section ul li {
      margin-bottom: 2em;
    }
    section ul h2 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 0.25em;
    }
    section ul p {
      font-size: 1.05rem;
    }
    .bg-img {
      height: 220px;
      width: 300px;
      border-radius: 10px 10px 0 0;
      background: url(images/image-header-mobile.jpg) no-repeat;
      background-size: contain;
    }
    .attribution {
      position: relative;
      margin-top: 20px;
    }
  }