* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

body {
    background-color: hsl(233, 47%, 7%);
}

main#overall {
    width: 768px;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 620px) {
    main#overall {
        width: 500px;
        height: auto;
        margin: 0 auto;
    }
  }


/* Style Main Container */
#container {
    background-color: hsl(244, 38%, 16%);
    width: 100%;
    height: 27em;
    border-radius: 6px;
    margin: 8em auto;
    display: flex;
    flex-direction: row;
}

/* Style Internal Container */
#first-section {
    width: 50%;
}

h1 {
    font-family: "Inter" , sans-serif;
}

#second-section {
    width: 50%;
    box-shadow: inset hsl(277, 64%, 61%);
}

p {
    font-family: "Lexend Deca", sans-serif;
}

#img {
    width: 100%;
    height: 100%;
}