* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(/images/bg-desktop.svg);
    width: 100%;
}

header img {
    width: 10em;
    margin: 2em;
}

/* main {
    justify-content: center;
    align-content: center;
} */

main {
    width: 100%;
}

main .container {
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.section {
    width: 60%;
    margin-top: 9px;
}

.section img {
    width: 100%;
    height: 100%;
}

.second-section {
    width: 40%;
}
