* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

/* Linear Gradient */
.side {
    z-index: 0;
    background-image: linear-gradient( to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%) );
    width: 36em;
    height: 35em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    left: -14em;
}

/* Phone Image */
.parent {
    width: 16.8em;
    height: 33em;
    position: absolute;
    top: 15%;
    left: 21.7%;
    background-color: hsl(270, 20%, 96%);
    border-radius: 2.5em;
    outline: 0.7em solid hsl(270, 20%, 96%);
    box-shadow: 0px 0px 20px 10px black;
    /* animation: phone;
    animation-duration: 1s;
    animation-timing-function: ease-in; */
}

/* Inner Phone banner */
.banner {
    height: 4.7em;
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
    background-image: linear-gradient( to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%) );
    position: relative;
}

.banner-arrow {
    width: 0.6em;
    height: 0.6em;
    border: 3px solid white;
    border-bottom: transparent;
    border-left: transparent;
    position: absolute;
    left: 20px;
    top: 35px;
    transform: rotate(-135deg);
    z-index: 1;
}

.banner img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transform: translate(105%, 65%);
    outline: 2px solid white;
}

.banner .profile-name {
    color: #ffffff;
    position: absolute;
    top: 42%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.banner .profile-description {
    color: #ffffff;
    position: absolute;
    top: 65%;
    left: 47%;
    transform: translate(-50%, -50%);
    opacity: 60%;
    font-size: .8em;
}

.banner .white-top {
    background-color: hsl(270, 20%, 96%);
    width: 10em;
    height: 1em;
    position: absolute;
    top: 0;
    left: 21%;
    border-radius: 0 0 10px 10px;
}

/* Banner Navigational Bar */
.vertical-dots {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
}

.vertical-dots span {
    color: white;
    font-size: .2em;
    font-weight: 900;
    margin-bottom: 0.2em;
}

